@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header-4-3 .modal-backdrop.show {
    background-color: #707092;
    opacity: 0.6;
}

.header-4-3 .modal-item.modal {
    top: 2rem;
}

.header-4-3 .navbar,
.header-4-3 .hero {
    padding: 3rem 2rem;
}

.header-4-3 .navbar-dark .navbar-nav .nav-link {
    font: 300 18px/1.5rem Poppins, sans-serif;
    color: #707092;
    transition: 0.3s;
}

.header-4-3 .navbar-dark .navbar-nav .nav-link:hover {
    font: 600 18px/1.5rem Poppins, sans-serif;
    color: #e7e7e8;
    transition: 0.3s;
}

.header-4-3 .navbar-dark .navbar-nav .active > .nav-link,
.header-4-3 .navbar-dark .navbar-nav .nav-link.active,
.header-4-3 .navbar-dark .navbar-nav .nav-link.show,
.header-4-3 .navbar-dark .navbar-nav .show > .nav-link {
    font-weight: 600;
    transition: 0.3s;
}

.header-4-3 .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header-4-3 .btn:focus,
.header-4-3 .btn:active {
    outline: none !important;
}

.header-4-3 .btn-fill {
    font: 600 18px / normal Poppins, sans-serif;
    background-color: #d31434;
    border-radius: 12px;
    padding: 12px 32px;
    transition: 0.3s;
}

.header-4-3 .btn-fill:hover {
    --tw-shadow: inset 0 0px 25px 0 rgba(20, 20, 50, 0.7);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition: 0.3s;
}

.header-4-3 .btn-no-fill {
    font: 300 18px/1.75rem Poppins, sans-serif;
    color: #e7e7e8;
    padding: 12px 32px;
    transition: 0.3s;
}

.header-4-3 .btn-no-fill:hover {
    color: #e7e7e8;
}

.header-4-3 .modal-item .modal-dialog .modal-content {
    border-radius: 8px;
    transition: 0.3s;
}

.header-4-3 .responsive li a {
    padding: 1rem;
    transition: 0.3s;
}

.header-4-3 .left-column {
    margin-bottom: 2.75rem;
    width: 100%;
}

.header-4-3 .text-caption {
    font: 600 0.875rem/1.625 Poppins, sans-serif;
    margin-bottom: 2rem;
    color: #fb6262;
}

.header-4-3 .title-text-big {
    font: 600 2.25rem/2.5rem Poppins, sans-serif;
    margin-bottom: 2rem;
    color: #cbcbd2;
}

.header-4-3 .btn-try {
    font: 600 1rem/1.5rem Poppins, sans-serif;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    background-color: #524eee;
    transition: 0.3s;
}

.header-4-3 .btn-try:hover {
    --tw-shadow: inset 0 0px 25px 0 rgba(20, 20, 50, 0.7);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition: 0.3s;
}

.header-4-3 .btn-outline {
    font: 400 1rem/1.5rem Poppins, sans-serif;
    border: 1px solid #707092;
    color: #707092;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    background-color: transparent;
    transition: 0.3s;
}

.header-4-3 .btn-outline:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
    transition: 0.3s;
}

.header-4-3 .btn-outline:hover div path {
    fill: #ffffff;
    transition: 0.3s;
}

.header-4-3 .right-column {
    width: 100%;
}

@media (min-width: 576px) {
    .header-4-3 .modal-item .modal-dialog {
        max-width: 95%;
        border-radius: 12px;
    }

    .header-4-3 .navbar {
        padding: 3rem 2rem;
    }

    .header-4-3 .hero {
        padding: 3rem 2rem 5rem;
    }

    .header-4-3 .title-text-big {
        font-size: 3rem;
        line-height: 1.2;
    }
}

@media (min-width: 768px) {
    .header-4-3 .navbar {
        padding: 3rem 4rem;
    }

    .header-4-3 .hero {
        padding: 3rem 4rem 5rem;
    }

    .header-4-3 .left-column {
        margin-bottom: 3rem;
    }
}

@media (min-width: 992px) {
    .header-4-3 .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }

    .header-4-3 .navbar {
        padding: 3rem 6rem;
    }

    .header-4-3 .hero {
        padding: 3rem 6rem 5rem;
    }

    .header-4-3 .left-column {
        width: 50%;
        margin-bottom: 0;
    }

    .header-4-3 .title-text-big {
        font-size: 3.75rem;
        line-height: 1.2;
    }

    .header-4-3 .right-column {
        width: 50%;
    }
}
.footer-2-3 .list-space {
    margin-bottom: 1.25rem;
}

.footer-2-3 .footer-text-title {
    font: 600 1.5rem Poppins, sans-serif;
    margin-bottom: 1.5rem;
}

.footer-2-3 .list-menu {
    color: #707092;
    text-decoration: none !important;
}

.footer-2-3 .list-menu:hover {
    color: #ffffff;
}

.footer-2-3 hr.hr {
    margin: 0;
    border: 0;
    border-top: 1px solid rgba(46, 46, 90, 1);
}

.footer-2-3 .border-color {
    color: #707092;
}

.footer-2-3 .footer-link {
    color: #707092;
}

.footer-2-3 .footer-link:hover {
    color: #ffffff;
}

.footer-2-3 .social-media-c:hover circle,
.footer-2-3 .social-media-p:hover path {
    fill: #ffffff;
}

.footer-2-3 .footer-info-space {
    padding-top: 3rem;
}

.footer-2-3 .list-footer {
    padding: 5rem 1rem 3rem 1rem;
}

.footer-2-3 .info-footer {
    padding: 0 1rem 3rem;
}

@media (min-width: 576px) {
    .footer-2-3 .list-footer {
        padding: 5rem 2rem 3rem 2rem;
    }

    .footer-2-3 .info-footer {
        padding: 0 2rem 3rem;
    }
}

@media (min-width: 768px) {
    .footer-2-3 .list-footer {
        padding: 5rem 4rem 6rem 4rem;
    }

    .footer-2-3 .info-footer {
        padding: 0 4rem 3rem;
    }
}

@media (min-width: 992px) {
    .footer-2-3 .list-footer {
        padding: 5rem 6rem 6rem 6rem;
    }

    .footer-2-3 .info-footer {
        padding: 0 6rem 3rem;
    }
}
